// Define variables for your color scheme

// For example:
$backgroundwhite: white;
$charcoal: #364652;
$rosewood: #510d0A;
$spangray: #999799;
$jungreen: #071108;

// $red: #FD1015;
// $blue: #167FFB;
// $yellow: #FFC65A;
// $orange: #E67E22;
// $green: #1EDD88;
// $gray: #0E0000;
// $light-gray: #F4F4F4;
