<div class="background">
  <div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
    <h1>
      Parched Speakeasy
    </h1>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "What'll ya have?", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
  <div class="center-card">
    <div class="cocktails-list">
      <ul>
        <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>
      </ul>
    </div>
    <div>
      <%= link_to "Create your own cocktail", new_cocktail_path %>
    </div>
  </div>
</div>
