<div class="background">
  <div class="navbar">
    <h1>
      Parched Speakeasy
    </h1>
    <h2>
      What's the password?
    </h2>
  </div>
  <div class="center-card">
    <h2>
      Menu
    </h2>
    <div class="cocktails-list">
      <ul>
        <% @cocktails.each do |cocktail| %>
        <li><%= link_to cocktail.name, cocktail_path(cocktail) %></li>
        <% end %>
      </ul>
    </div>
    <br>
    <div>
      <%= link_to "Create Your Own", new_cocktail_path, class: "button-main py-2 px-4" %>
    </div>
  </div>
</div>
