.wide .center-card {
  margin: 0 auto;
  text-align: center;
  border: none;
  opacity: .87;
  color: white;
  border-radius: 22px;
  background-color: black;
  width: 75% !important;
  padding: 70px;
  padding-top: 50px;
  height: 88vh;
}

li.list-inline-item{
  color: $morningblue;
  margin-bottom: 0;
  margin-top: 0;
}

.form-control {
  width: 50%;
  margin: 0 auto;
}

.column1 {
  float: left;
}


.center-card .button-main {
  font-size: 15px;
  color: #fff;
  background-color: transparent;
  border: 2px solid #fff;
  font-weight: bold;
  border-radius: 32px;
  width: 200px;
  // margin-top: 20px;
  padding: 2px;
  letter-spacing: -1px;
}
a.button-main {
  text-decoration: none;

  transition: 0.3s ease;
}

a.button-main:hover {
  box-shadow: 1px 1px 10px #fff;
  text-shadow: 1px 1px 10px #fff;
}
